<ion-content>
  <ion-list *ngIf="recentChats && recentChats.length">
    <ion-item *ngFor="let chat of recentChats" [routerLink]="['details/'+chat.id]" routerDirection="forward">
      <ion-avatar slot="start">
        <img [src]="chat.photoURL">
      </ion-avatar>
      <ion-label>
        <h2>{{ chat.displayName }}</h2>
        <p>{{ chat.estado }}</p>
      </ion-label>
    </ion-item>

  </ion-list>

  <div *ngIf="recentChats && !recentChats.length" class="center-middle">
    <p>
      Para iniciar una conversación presiona el ícono <ion-icon name="chatboxes"></ion-icon> hasta abajo de la pantalla.
    </p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['contacts']" routerDirection="forward">
      <ion-icon name="chatboxes"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>