<ion-content>
  <ion-list *ngIf="recentCalls && recentCalls.length">
    <ion-item *ngFor="let call of recentCalls">
      <ion-avatar slot="start">
        <img [src]="call.avatar">
      </ion-avatar>
      <ion-label>
        <h2>{{ call.name }}</h2>
        <p>{{ call.last }}</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>