<ion-content>
  <ion-list *ngIf="estados && estados.length">
    <ion-item *ngFor="let st of estados">
      <ion-avatar slot="start">
        <img [src]="st.avatar">
      </ion-avatar>
      <ion-label>
        <h2>{{ st.name }}</h2>
        <p>{{ st.last }}</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>