:host {
    .profile-picture {
        text-align: center;
        position: relative;
        ion-avatar {
            width: 200px;
            height: 200px;
            margin: 0 auto;
        }
        ion-fab {
            margin-left: 70px;
        }
    }
}