<ion-header>
  <ion-toolbar *ngIf="user">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <img [src]="user.photoURL">
    </ion-avatar>
    <ion-title>
      {{ user.displayName }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="videocam"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="call"></ion-icon>
      </ion-button>
      <ion-button (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-virtual-scroll [items]="messages" approxItemHeight="120px">
    <ion-item *virtualItem="let item; let itemBounds = bounds;">
      {{ item.text }}
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
<ion-footer no-border>
  <ion-toolbar transparent translucent>
    <div class="input-text">
      <ion-item>
        <ion-fab-button size="small" color="light" slot="start">
          <ion-icon name="happy"></ion-icon>
        </ion-fab-button>
        <ion-input placeholder="Escribe un mensaje" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()"></ion-input>
        <ion-fab-button size="small" color="light" slot="end">
          <ion-icon name="attach"></ion-icon>
        </ion-fab-button>
        <ion-fab-button size="small" color="light" slot="end">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-item>
    </div>
    
    <ion-fab-button color="primary" slot="end">
      <ion-icon name="mic"></ion-icon>
    </ion-fab-button>
    
  </ion-toolbar>
</ion-footer>
