:host {
    --background: none !important;
    background: #fff url("/assets/background.jpg") no-repeat center center / cover;
    ion-content {
        --background: transparent;
    }
    ion-toolbar {
        ion-avatar {
            width: 36px;
            height: 36px;
        }
    }
    ion-footer {
        --background: transparent;
        --ion-color-base: transparent !important;
        --color: #353535;
        ion-toolbar {
            --background: transparent;
            --ion-color-base: transparent !important;
            --color: #333;
            ion-item {
                border-radius: 28px;
                margin: 5px;
            }
            .input-text ion-fab-button{
                --box-shadow: none;
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
}