<ion-list lines="none">
  <ion-item>Nuevo grupo</ion-item>
  <ion-item>Nueva difusión</ion-item>
  <ion-item>WhatsApp Web</ion-item>
  <ion-item>Mensajes destacados</ion-item>
  <ion-item [routerLink]="['perfil']" routerDirection="forward" (click)="closePopover()">Ajustes</ion-item>
</ion-list>