<ion-header id="mainHeader" no-border>
  <ion-toolbar>
    <ion-title>
      WhatsApp
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-tabs>
    <ion-tab-bar id="mainTabs" slot="top">
      <ion-tab-button tab="chats">
        <ion-icon name="chatboxes"></ion-icon>
        <ion-label>Chats</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="estados">
        <ion-icon name="create"></ion-icon>
        <img>
        <ion-label>Estados</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="llamadas">
        <ion-icon name="call"></ion-icon>
        <ion-label>Llamadas</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
